{% extends 'base.html.twig' %}

{% block title %}{{produit.nom}}{% endblock %}

{% block body %}
<h1>{{produit.nom}}</h1>
{% if produit.photo is not null %}	
	<img src="{{ asset ('/uploads/'~ produit.photo) }}">
{% endif %}

<h2>Ajouter le produit dans le panier</h2>

{{form (form_ajout)}}

<td>
    <a href="{{path('delete_produit', {'id' : produit.id})}}">
         Supprimer
    </a>
</td>

{% endblock %}